ZYANTINE_API_KEY=
ZYANTINE_BASE_URL=http://localhost:8000
STT_MODEL=whisper-1
TTS_MODEL=tts-1
TTS_VOICE=alloy
LLM_MODEL=zyantine-v1
SERVER_HOST=0.0.0.0
SERVER_PORT=8765

VOLCENGINE_APPID=5474947932
VOLCENGINE_ACCESS_TOKEN=q-ZhU5ZhND2Xva_cGEgZYSuN5NpCMQ6c
VOLCENGINE_VOICE_TYPE=zh_female_vv_uranus_bigtts
